<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shows Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper" style="width: 85%; margin: 0 auto;">
        <h1 style="text-align: left;">All Shows</h1>
        <table class="table table-bordered table-striped">
            <thead class="table-secondary">
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </thead>

            <tbody>
                {% for show in all_shows %}
                <tr>
                    <td>{{ show.id }} </td>
                    <td>{{ show.title }}</td>
                    <td>{{ show.network }}</td>
                    <td>{{ show.release_date }}</td>
                    <td>
                        <a href="/display_show/{{ show.id }}">Show</a> |
                        <a href="/edit_show/{{ show.id }}">Edit</a> |
                        <a href="/delete_show/{{ show.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/new">Add a New Show</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>